.page-title {
  font-size: 28px;
  font-weight: 600;
  color: #333;
  margin-bottom: 8px;
  font-family: "Montserrat", sans-serif;
}

.page-subtitle {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
}

/* Variantes d'alignement */
.page-title.left,
.page-subtitle.left {
  text-align: left;
}

.page-title.center,
.page-subtitle.center {
  text-align: center;
}

.page-title.right,
.page-subtitle.right {
  text-align: right;
}
